asttokens
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
dotenv
executing
filelock
fonttools
fsspec
gensim
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
nltk
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
six
smart-open
stack-data
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wordcloud
wrapt
